body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('pastel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#wordList {
    list-style-type: none;
    padding: 0;
}

#wordList li {
    font-size: 24px;
}

#gameStatus {
    margin: 20px 0;
}